@inject ICategory categoryRepository

<div class="page-content-wrapper">
    <div class="container">
        <div class="profile-wrapper-area py-3">
            <div class="card user-info-card">
                <div class="card-body p-4 d-flex align-items-center">
                    <div class="user-info">
                        <h3>@Action Subcategory</h3>
                    </div>
                </div>
            </div>

            <div class="card user-data-card">
                <div class="card-body">
                    <EditForm Model="subCategory" OnValidSubmit="onValidSubmit">
                        <DataAnnotationsValidator />
                        <div class="form-group">
                            <label>Category:</label>
                            <div>
                                        <TelerikComboBox @bind-Value="@subCategory.CategoryId" Data="@categories" Placeholder="Select Category"
                                                         TextField="@nameof(Category.Name)" ValueField="@nameof(Category.Id)" Filterable="true"
                                                         Id="category">
                                        </TelerikComboBox>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Name:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@subCategory.Name" />
                                <ValidationMessage For="@(() => subCategory.Name)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@subCategory.Description" />
                                <ValidationMessage For="@(() => subCategory.Description)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <InputImg Label="Image" OnSelectedImage="PictureSelected" ImageURL="@imageURL" />
                        </div>

                        <button class="btn btn-success" type="submit">Save Changes</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public SubCategory subCategory { get; set; }
    [Parameter] public string Action { get; set; }
    [Parameter] public EventCallback onValidSubmit { get; set; }
    private string imageURL;

    private List<Category> categories;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(subCategory.Image))
        {
            imageURL = subCategory.Image;
            subCategory.Image = null;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        categories = await categoryRepository.GetCategories();
    }

    private void PictureSelected(string imageBase64)
    {
        subCategory.Image = imageBase64;
        imageURL = null;
        Console.WriteLine(imageBase64);
    }
}
