@page "/category/{CategoryId:int}"
@inject ISubCategory subCategoryRepository
@inject ICategory categoryRepository

@if (Title != null)
	{
    <HeaderBack link="/" Title="@Title" />
	}



<div class="top-products-area pt-3">
    <div class="container">
        <div class="section-heading d-flex align-items-center justify-content-between">
            <h6 class="ml-1">Flash Sale Products</h6>
        </div>
        <GenericList List="subCategories">
            <WholeListTemplate>
                <div class="product-catagory-wrap">
                    <div class="row">
                        @foreach (var item in subCategories)
                        {
                            <!-- Single Flash Sale Card-->
                            <div class="col-6 col-sm-4">
                                <div class="card flash-sale-card mb-3">
                                    <div class="card-body">
                                        <a href="subcategory/@item.Id">
                                            <img src="@item.Image" alt="@item.Name"><span class="product-title">@item.Name</span>
                                            <span class="progress-title">@item.Description</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </WholeListTemplate>
        </GenericList>
    </div>
</div>

<Footer />
@code {
    [Parameter] public int CategoryId { get; set; }
    private string Title;
    private Category category;
    private List<SubCategory> subCategories;

    protected override async Task OnInitializedAsync()
    {
        category = await categoryRepository.GetCategory(CategoryId);
        Title = category.Name;

        subCategories = await subCategoryRepository.GetSubCategoriesByCategory(CategoryId);
    }
}
