@page "/Categories"
@page "/Categories/index"

@inject ICategory categoryRepository

<Header />
<br />
<br />
<br />
<div class="container">
    <TelerikListView Data=@categories
                     Pageable="true"
                     PageSize="5">
        <HeaderTemplate>
            <a href="/category/create" style="margin-left:20px; margin-top:20px !important;"><TelerikButton Icon="add" Class="btn-primary">Add</TelerikButton></a>
            <h3 style="text-align:center; color:black">
                Categories
            </h3>
        </HeaderTemplate>
        <Template>
            <div class="k-card k-card-horizontal">
                <div class="k-vbox k-column">
                    <div class="k-card-body">
                        <h4 class="k-card-title" style="color:black">@context.Name</h4>
                        <h5 class="k-card-subtitle" style="color:grey">@context.Description</h5>
                    </div>
                    <div class="k-card-actions k-card-actions-horizontal k-card-actions-start">
                        @*<a href="/book/Details/@context.Id" style="color: black;"><TelerikButton Icon="info">Details</TelerikButton></a>*@
                        <a href="/category/Edit/@context.Id"><TelerikButton Icon="edit" Class="btn-dark">Edit</TelerikButton></a>
                        &nbsp;&nbsp;
                        <ConfirmButton OnClick="@(() => DeleteRow(@context.Id))" ConfirmText="Are you sure you want to delete this category?" ButtonText="Delete" ConfirmTitle="Delete Category!" Icon="delete" ButtonType="btn-danger" />
                    </div>
                </div>
                <img class="k-card-image img-thumbnail" alt="Category Image" src="@context.Image" />
            </div>
        </Template>
    </TelerikListView>
</div>

<Footer />


@code{
    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await categoryRepository.GetCategories();
    }
    private async Task DeleteRow(int id)
    {
        await categoryRepository.DeleteCategory(id);
        categories = await categoryRepository.GetCategories();
    }
}